
<div class="card" style="width: 30%;">
  <img src="{{image_url}}" class="card-img-top mx-auto" style="width: 30px" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h5 class="card-title">{{tagline}}</h5>
    <p class="card-text">{{description}}</p>
  </div>
</div>








 