<div class="index-container">
  
<img class="main" src="/images/beer.png" alt="">
<br>

 <a class="buttons" href="/beers">Check the Beers!</a> <br>
 <a class="buttons" href="/randombeer">Check a random Beer!</a>

</div>